.balloons .balloons {
  /*overflow:hidden;*/
  position:relative;
  min-height:230px;
}

.balloon {
  position:absolute;
  width:105px;
  height:105px;
  padding-top:10px;
  

  
  .main {
    width:85px;
    height:85px;
    margin:0 auto;
    border:solid 2px #A1C13D;
    background:#BADA55;
    border-radius:75px 125px 85px 125px;
    border-top-left-radius:40px;
    -webkit-transform:rotate(215deg);
    
    &::before {
      content: '';
      width: 38px;
      /*height: 60px;*/
      height:74%;
      background: transparent;
      position: absolute;
      display: block;
      top: 20%;
      -webkit-transform: rotate(-35deg);
      right: 40%;
      border-left: solid 2px #FFF;
      border-radius: 100%;
    }
    &::after {
      content:'';
      width:10px;
      height:4px;
      background:#86A130;
      display:block;
      margin-left:-2px;
      border-top-right-radius:50%;
      border-top-left-radius:50%;
      -webkit-transform:rotate(-40deg);
    }

  }
  &.ballA {
    bottom:15px;
    left:15px;
    z-index:2;
    animation:ballA 8s linear infinite;
  }
  &.ballB {
    width:140px;
    height:140px;
    bottom:30px;
    left:40px;
    z-index:1;
    animation:ballB 8s linear infinite;
    .main {
      width:105px;
      height:105px;
      -webkit-transform:rotate(230deg);
      background:#E27575;
      border-color:#C36868;
      &::before {
        border-color:#F8BFBF;
        width:46px;
      }
      &::after {
        background:#A15050;
      }
    }
  }
  &.ballC {
    width:100px;
    height:100px;
    bottom:60px;
    left:60px;
    z-index:1;
    animation:ballC 6s linear infinite;
    .main {
      width:105px;
      height:105px;
      -webkit-transform:rotate(230deg);
      background:#BADA55;
      border-color:#A1C13D;
      &::before {
        border-color:#F8BFBF;
        width:46px;
      }
      &::after {
        background:#A15050;
      }
    }
  }
  &.ballE {
    width:400px;
    height:400px;
    bottom:-50px;
    right:0;
    z-index:0;
    animation:ballE 8s linear infinite;
    .main {
      width:245px;
      height:245px;
      -webkit-transform:rotate(230deg);
      background:#E27575;
      border-color:#C36868;
      &::before {
        border-color:#F8BFBF;
        width:80px;
      }
      &::after {
        background:#A15050;
      }
    }
  }


}

@-webkit-keyframes ballA {
  0% {left: 1000px;bottom:-120px;}
  100% {left: -1000px;bottom:430px;}
}

@-webkit-keyframes ballB {
  0% {left: 1000px;bottom:-30px;}
  100% {left: -1000px;bottom:430px;}
}

@-webkit-keyframes ballC {
  0% {left: 990px;bottom:-35px;}
  100% {left: -990px;bottom:400px;}
}




@-webkit-keyframes ballE {
  0% {bottom:-1000px;opacity:0;}
  50% {opacity:1;}
  100% {bottom:1000px;}
}



