/*$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
*/

.container {
  width:100%;
  max-width:100%;
}

body {
    background:#e8e8e8;
}

div.theThing {
    border:solid 3px #CCC;
    padding:3em;
    min-height:340px;
}


div.theThing .Smile {
    width:100%;
    min-height:270px;
    border:solid 6px #333;
    border-radius:50%;
    background:#CCC;

    .topEyes {
        display:inline-block;
        position:relative;
        margin:8% auto 3% auto;
        height:20%;
        width:50%;
        transition:all 1s ease;

        &.size-10 {
            width:100%;
            .eye {min-height:80px;}
        }
        &.size-9 {
            width:90%;
            .eye {min-height:70px;}
        }
        &.size-8 {
            width:80%;
            .eye {min-height:65px;}
        }
        &.size-7 {
            width:70%;
            .eye {min-height:55px;}
        }
        &.size-6 {
            width:60%;
        }
        &.size-5 {
            width:50%;
        }
        &.size-4 {
            width:40%;
        } 
        &.size-3 {
            width:30%;
            .eye {min-height:20px;}
        } 
        &.size-2 {
            width:20%;
            .eye {min-height:15px;}
        } 
        &.size-1 {
            width:10%;
            .eye {min-height:10px;}
        } 

        div.eye {
            display:inline-block;
            border-radius:50%;
            background:darkred;
            width:21%;
            min-height:30px;
            margin:0 5%;
            transition:all 1s ease;

            &.left {
                left:0;
            }
            &.right {
                right:0;
            }
        }
    }

    div.nose {
        display:block;
        margin:0 auto;
        height:25px;
        width:6%;
        background:darkred;
        opacity:0.5;
        transition:all 1s ease;

        &.size-5 {
            width:22%;
            height:40px;
        }
        &.size-4 {
            width:14%;
            height:30px;
        }
        &.size-3 {
            width:6%;
        } 
        &.size-2 {
            width:3%;
            height:20px;
        } 
        &.size-1 {
            width:1.5%;
            height:15px;
        } 
        &.size-0 {
            visibility:hidden;
        } 


    }
    div.lips {
        display: block;
        position:relative;
        border: solid 10px #000;
        border-top:0 none;
        width: 75%;
        border-radius:0 0 130px 130px / 0 0 100px 100px;
        height: 120px;
        margin:15px auto 20px auto;
        transition:all 1s ease;

        &::before,
        &::after {
           content: "";
           width: 30px;
           height: 10px;
           background: #000;
           display: block;
           position: absolute;
           top: -5px;
           border-radius: 100px;
           transition:all 1s ease;
        }
        &::before {
           left: -20px;
           transform: rotate(160deg);
        }
        &::after {
           right: -20px;
           transform: rotate(-160deg);
        }

        &.loudness-regularHappy {
            margin:30px auto 20px auto;
            height:60px;
            border-radius:0 0 240px 240px / 0 0 120px 120px;
            border-width:7px;
            &::before,
            &::after {
                height:5px;
                width:15px;
                top:-2px;
            }
            &::before {
                left:-12px;
            }
            &::after {
                right:-12px;
            }

        }
    }
}


.Sunshine {
    border-color:#BADA55;
}


.adjust-7 {
  border-width:10px;
  border-color:red;
}
