/*$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
*/

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);


@import 'base';

body {
	font-family:'Merriweather Sans', sans-serif;
	color:#3C4B3F;
	height:100%;
	overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:'Merriweather Sans', sans-serif;
}


ul,
ol {
	padding-left:15px;
	margin-left:0;
	font-size:12px;
}
form {
	padding-bottom:15px;
}
label {
	font-weight:normal;
	line-height:initial;
	clear:both;
	width:100%;
}
input[type="range"] {
	width:100%;
}
input[type="checkbox"] {
	margin:0;
}

.container {
  width:100%;
  height:100%;
  max-width:100%;
}

h2, .h2 {
	font-size:17px;
	background:#D8E5DA;
	color:#8B9F8E;
	font-weight:normal;
	padding:10px;
	margin-top:0;
}
h4, .h4 {
	margin-top:10px;
	margin-bottom:5px;
	font-size:14px;
	font-weight:bold;
}
.header h1 {
	text-align: center;
	background:#B5D4BB;
	color:#7BAD85;
  margin: 0;
  padding: 20px 0;
  margin-bottom: 40px;
}

.mainContent {
	clear:both;
	padding-top:40px;
	max-width:1000px;
	margin:0 auto;
	> .row {
		margin:0;
	}
}

.leftContainer {
	.objectSelection {
		> div {
			text-align:left;
			padding:10px;
			cursor:pointer;
			opacity:0.5;
		}
	}
	div:hover,
	div:focus,
	div.active {
		opacity:1;
	}
	div.active {
		font-weight:bold;
	}
}

.rightContainer {
	text-align:center;
	padding-bottom:40px;

	.col-md-4 {
		float:right;
	}
	form label {
		cursor:pointer;
		font-size:13px
	}
}

/*left/right box widths*/
.leftContainer .box,
.rightContainer .col-md-4 {
	max-width:187px;
}


.box {
	background:#EEF8EF;
	text-align:left;
	margin-bottom:40px;
	padding-bottom:10px;
	.inner {
		padding:10px 15px;
		h4:first-child {
			margin-top:0;
		}
	}
}

div.happyObject {
  min-height:340px;
}


//happy items
@import 'smiley-face';
@import 'sunshine';
@import 'balloons';