<div class="col-md-8">
	<div class="{{itemId}}">
	  <div ng-model="eyeSize" class="topEyes size-{{eyeSize}}">
	    <div class="eye left"></div>
	    <div class="eye right"></div>
	  </div>
	  <div ng-modal="{{noseSize}}" class="nose size-{{noseSize}}"></div>
	  <div ng-model="smileLoudness" class="lips loudness-{{smileLoudness}}"></div>
	</div>
</div>

<div class="col-md-4">
	<div class="box">
	  <h2>Adjustments</h2>
			<div class="inner">
				<form class="ng-pristine ng-valid">
					<h4 ng-model="eyeSize">Eye size ({{eyeSize}}/10)</h4>
	        <input type="range" ng-model="eyeSize" min="1" max="10" value="{{eyeSize}}">

	        <h4 ng-model="noseSize">Nose ({{noseSize}}/5)</h4>
	        <input type="range" ng-model="noseSize" min="0" max="5" value="{{noseSize}}">

	        <h4 ng-model="smileLoudness">Smile</h4>
					<label ng-model="smileLoudness">
						<input type="checkbox" ng-model="smileLoudness" ng-true-value="regularHappy">
						Regular
	      	</label>

	        <label ng-model="smileLoudness">
	        	<input type="checkbox" ng-model="smileLoudness" ng-true-value="superHappy">
	        	Super
	      	</label>
	      </form>
				<small>To be continued...</small>
				<br/>
				<ul>
					<li>hair/beard things</li>
					<li>teeth</li>
					<li>colour schemes?</li>
				</ul>
			</div>
		</div>
	</div>	
