<div class="row header">
  <h1>Random happy things with CSS</h1>
</div>

<!-- mainContent -->
<div class="row mainContent">
	<div class="inner">
		<!-- leftContainer -->
		<div class="col-md-3 leftContainer">
			<div class="box objectSelection">
			  <h2>Select something</h2>
			  <div ng-repeat="item in happyThings" ng-click="activateItem(item.id);setSelectedItem(item.id);" ng-class="{active: selectedItem == item.id}">
			  	<div>{{item.name}}</div>
			  </div>
		  </div>
		</div> <!-- leftContainer -->

		<!-- rightContainer-->
		<div class="col-md-9 rightContainer">
		  <div class="row happyObject" ng-if="itemId == false">
		    <p>Waiting for something happy...</p>
		  </div>
		  <div class="row happyObject {{itemId}}" ng-if="itemId != false">
		    <ng-include src="itemTemplate()"></ng-include>
		  </div>
		</div> <!-- rightContainer -->

	</div>
</div> <!-- mainContent -->